<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/formStyles.css">
    <title>Add Journal Entry</title>
</head>
<body>
    <h1>Add Journal Entry</h1>
    <form action="/entries/add" method="POST">
      <label for="album_title">Album Title:</label>
      <input type="text" name="album_title" required>
      <label for="artist">Artist:</label>
      <input type="text" name="artist" required>
      <label for="personal_notes">Personal Notes:</label>
      <textarea name="personal_notes"></textarea>
      <label for="rating">Rating (1-5):</label>
      <input type="number" name="rating" min="1" max="5">
      <button type="submit">Save Entry</button>
</body>
</html>