<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board</title>
</head>
<body>
    <h1><%= board.board_name %></h1>
    <p>Description: <%= board.description %></p>
    <div>
      <h2>Entries</h2>
      <!-- List of added entries -->
    </div>
</body>
</html>