<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/profileStyle.css" />
    <title>User Page</title>
</head>
<body>
    <div class="container">
    <div class="header">
        <h1>Welcome to <%= user.username %>'s Record Shop!</h1>
    </div>
    <div class="boards-title">
        <h2>What's in rotation...</h2>
    </div>
    <div class="boards-list">
        <ul>
            <% user.boards.forEach(function(board) { %> 
                <li class="board-item">
                    <% if (board.image_url) { %>
                        <img src="<%= board.image_url %>" alt="Board Image" class="board-image">
                    <% } else { %>
                        <div class="board-image-placeholder">IMG</div>
                    <% } %>
                    <a href="/boards/<%= board._id %>"><%= board.board_name %></a>
                </li>
            <% }); %> 
        </ul>
    </div>
    <div class="buttons">
        <a href="/boards/add" class="btn">Add New Board</a>
    </div>
    <div>
        <button onclick="window.location.href='/users/logout'">Logout</button>
    </div>
    </div>
</body>
</html>