body {
    font-family: Arial, sans-serif;
    background-color: #D8E3E7;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('/images/coverRecordShop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    position: relative; 
    z-index: 1; 
    width: 80%;
    max-width: 1200px;
    background-color: rgba(243, 243, 251, 0.9); 
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
    backdrop-filter: blur(5px); 
}

.board-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #A9B7C0;
    border-radius: 25px;
    justify-content: flex-start;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 20px auto; /* center the items */
}

.board-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.board-image-placeholder {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.board-item a {
    flex: 1;
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
    text-align: left; 
}

.board-item a:hover {
    text-decoration: underline;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}